
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin Login</title>

    <!-- Bootstrap core CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link href="static/page_style.css" rel="stylesheet" >

    <!-- Custom styles for this template -->
  </head>





  <body class="text-center">
  <div class="container">
    <form class="form-signin" method="post" action="">
  <img class="mb-4" src="/static/logo.png" alt="" width="330" height="255">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUserName" class="sr-only">Username</label>
  <input type="text" id="inputUserName" name="username" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <br><br><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
</form>

    <br>

<div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>

  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
