
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Error</title>

    <!-- Bootstrap core CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link href="static/page_style.css" rel="stylesheet" >

    <!-- Custom styles for this template -->
  </head>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <body id="failure" class="text-center">

<div class="container">
   <img class="mb-4" src="/static/logo.png" alt="" width="330" height="255">

      <div class="col-sm">
<span class="badge badge-danger">{{error_message}}</span>

    </div>

  </div>

  </body>
</html>
